/* Global Styles */

html {
  font-size: 16px;
  font-family: Helvetica;
}

.header__logo--colmar, .banner h1, .banner h3, header ul li {
  color: #4a4a4a;
}

.header__logo--academy {
  color: #d8d8d8;
}

/* Temporary Border for mark-up */
header, div, section, nav, footer {
  border: 1px solid #000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  padding: 1rem 1.5rem;
  background-color: white;
}

.header__logo {
  display: flex;
  align-items: center;
}

#lion {
  height: 2rem;
}

.header__logo--colmar {

  font-weight: bold;
}

header ul li {
  display: inline-block;
  padding: 0.5rem;
}

/* Banner Section */

.banner {
  display: flex;
  align-items: center;
  background-color: #d8d8d8;
}

.banner h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.banner h3 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.banner img {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner__content {
  width: 30%;
}

.banner__button {
  text-decoration: none;
  background-color: #4a4a4a;
  color: #fff;
  padding: 0.5rem 0;
  display: block;
  margin: auto;
  text-align: center;
}
