/* Global Styles */

html {
  font-size: 16px;
  font-family: Helvetica;
}

body {
  color: #4a4a4a;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.left-section {
  width: 60%;
  margin: 2rem 1.5rem;
}

.right-section {
  width: 40%;
  margin: 1rem 0;
  border-left: 1px solid #d8d8d8;
}

.right-section:first-child img {
  padding-top: 0;
}

.paragraph {
  margin-bottom: 2.5rem;
}

a {
  text-decoration: none;
}

.section-title {
  padding: 2rem 0 1rem 0;
  text-align: center;
  margin: 0;
}

video {
  width: 100%;
  margin-bottom: 1.5rem;
}

/* Temporary Border for mark-up */
header, div, section, nav, footer {
  border: 1px solid #000;
}

/* Header Style */

.header__logo--academy {
  color: #d8d8d8;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  padding: 1rem 1.5rem;
  background-color: white;
}

.header__logo {
  display: flex;
  align-items: center;
}

#lion {
  height: 2rem;
}

.header__logo--colmar {

  font-weight: bold;
}

header ul li {
  display: inline-block;
  padding: 0.5rem;
}

/* Banner Section */

.banner {
  display: flex;
  align-items: center;
}

.banner, .post.new {
  background-color: #d8d8d8;
}

.banner h3 {
  margin-bottom: 1.5rem;
}

.banner__content {
  width: 30%;
}

.banner__button {
  background-color: #4a4a4a;
  color: #fff;
  padding: 0.5rem 0;
  display: block;
  margin: auto;
  text-align: center;
}

.information {
  background-color: #f3f5f5;
  display: flex;
}

.information__left img {
  width: 100%;
  margin-bottom: 2rem;
}

.post {
  display: flex;
  align-items: center;
}

.post img {
  height: auto;
  width: 35%;
  padding: 1rem;
}

.post__content {
  width: 65%;
  line-height: 1.5;
}

.post__content p {
  padding: 0.5rem 0;
}

.post__content a {
  color: #4a90e2;
}

/* Course Section */

.courses {
  padding: 0 3.5rem 1rem 3.5rem;
  background-color: #eaebec;
}

.courses__list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.course {
  width: 30%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.course img {
  height: auto;
  width: 100%;
}

.course__description {
  padding: 0.5rem 1rem 1rem 1.5rem;
}

.course__description h3, .course__description p {
  padding: 0.5rem 0;
}

.course__description p {
  color: #797979;
}

/* Thesis section */

.thesis-exhibit {
  background-color: #f3f5f5;
}

.thesis-exhibit__content {
  display: flex;
}

.thesis-exhibit__content .left-section {
  margin: 1rem 1.5rem 1.5rem;
}

.thesis-exhibit__content .left-section p {
  margin: 0.5rem 0;
}

.thesis-exhibit__content--post {
  border: none;
}
